<!-- <app-header></app-header> -->
<!-- <app-login></app-login> -->
<a routerLink="login">Please Login</a>
<br>
<br>
<a routerLink="signup">Please Signup</a>
<br>
<br>
<a routerLink="aboutus">About us</a>


<router-outlet></router-outlet>
<br>
<p>Users Data coming from API</p>
<!-- <table border="1">
  <tr>
    <td>ID</td>
    <td>Title</td>
    <td>User ID</td>
  </tr>
  <tr *ngFor="let item of data | keyvalue">
    <td>{{ item.key }}</td>
    <td>{{ item.value }}</td>
  </tr> -->
  <!-- <tr *ngFor="let item of apiData">
    <td>{{ item.id }}</td>
    <td>{{ item.title }}</td>
    <td>{{ item.userID }}</td>
  </tr> -->

<!-- </table> -->
<!-- <app-signup [p_name]="obj" [list_obj]="arr_obj" (parentComponent)="parentComponent($event)"></app-signup> -->
<!-- <app-footer></app-footer> -->

<!-- <button (click)="getName('harvey spector')">Wanna know my name?</button>
<br>
<br>
<br>
<p>For testing keyup in angular</p>
<input type="text" #myText (keyup)="myEvent($event)"/>
<p>{{keyUpString}}</p>

<br>
<br>

<p>For testing sending value on button</p>
<button (click)="getName(myTextOnButton.value)">Send value, just click me</button>
<input type="text" #myTextOnButton />
<p>{{name}}</p>

<br>
<br>

<p>For testing blur in angular</p>
<input type="text" #blurText (blur)="myEvent($event)"/>

<br>

<div style="background-color: skyblue;" (mouseover)="myEvent($event)">
    Mouse Events
</div> -->

<!-- Property binding -->
<!-- <p>Property binding in angular</p>
<input [disabled]="disabledInput" type="text" [value]=title />
<br>
<br>
<br>
<p>This is interpolation in angular</p>
<input disabled={{disabledInput}} type="text" value={{title}} />


<button (click)="enableInput()" >Enable text box</button>

<h1 *ngIf="ifShow else elseBlock">
    This is passed if the boolean is true
</h1>

<ng-template #elseBlock>
    <h2>This is the else block</h2>
</ng-template>

<br>
<br>

<p>This is rendered using for loop</p>

<h4 *ngFor="let item of arr">{{item}}</h4> -->

<!-- <p>Following is the example of angular bootstrap component!</p>
<br>
<br>
<p>You can easily control dropdowns programmatically using the exported dropdown instance.</p>

<div class="d-inline-block" ngbDropdown #myDrop="ngbDropdown">
  <button class="btn btn-outline-primary me-2" id="dropdownManual" ngbDropdownAnchor (focus)="myDrop.open()">Toggle dropdown</button>
  <div ngbDropdownMenu aria-labelledby="dropdownManual">
    <button ngbDropdownItem>Action - 1</button>
    <button ngbDropdownItem>Another Action</button>
    <button ngbDropdownItem>Something else is here</button>
  </div>
</div>

<button class="btn btn-outline-success me-2" (click)="$event.stopPropagation(); myDrop.open();">Open from outside</button>
<button class="btn btn-outline-danger me-2" (click)="$event.stopPropagation(); myDrop.close();">Close from outside</button>

<br>
<br>
<p>This is the material UI button</p>

<button mat-button color="primary">Material UI button</button>
<mat-slider></mat-slider>


<p>Following are example of pipe</p>

<p>{{name | uppercase }}</p>
<p>{{today | date:"fullDate"}}</p>
<p>{{pkr | currency:"USD"}}</p> -->