<app-header></app-header>
<h1>Please Login</h1>
<app-login></app-login>
<app-signup></app-signup>
<app-footer></app-footer>

<!-- <button (click)="getName('harvey spector')">Wanna know my name?</button>
<br>
<br>
<br>
<p>For testing keyup in angular</p>
<input type="text" #myText (keyup)="myEvent($event)"/>
<p>{{keyUpString}}</p>

<br>
<br>

<p>For testing sending value on button</p>
<button (click)="getName(myTextOnButton.value)">Send value, just click me</button>
<input type="text" #myTextOnButton />
<p>{{name}}</p>

<br>
<br>

<p>For testing blur in angular</p>
<input type="text" #blurText (blur)="myEvent($event)"/>

<br>

<div style="background-color: skyblue;" (mouseover)="myEvent($event)">
    Mouse Events
</div> -->

<!-- Property binding -->
<!-- <p>Property binding in angular</p>
<input [disabled]="disabledInput" type="text" [value]=title />
<br>
<br>
<br>
<p>This is interpolation in angular</p>
<input disabled={{disabledInput}} type="text" value={{title}} />


<button (click)="enableInput()" >Enable text box</button>

<h1 *ngIf="ifShow else elseBlock">
    This is passed if the boolean is true
</h1>

<ng-template #elseBlock>
    <h2>This is the else block</h2>
</ng-template>

<br>
<br>

<p>This is rendered using for loop</p>

<h4 *ngFor="let item of arr">{{item}}</h4> -->