
<br>
<p>The following data is coming from parent component</p>


<div *ngFor="let item of p_name | keyvalue">
    {{item.key}}:{{item.value}}
</div>

<div *ngFor="let item of map | keyvalue">
    {{item.key}}:{{item.value}}
</div>


<p>{{ p_name }}</p>


<div *ngFor="let item of list_obj | keyvalue">
    {{item.key}} :::: {{item.value}}
</div>

<p>{{ list_obj }}</p>


<p>signup to Cinya</p>

<div class="row">
    <div class="col-md-12">
        <form #signup_form="ngForm" (ngSubmit)="signupUser(signup_form.value)">
            <input type="email" ngModel name="email" placeholder="Enter email"/>
            <br>
            <br>
            <input type="text" ngModel name="age" placeholder="Enter Age"/>
            <br>
            <br>
            <input type="text" ngModel name="address" placeholder="Enter Address"/>
            <br>
            <br>
            <input type="password" ngModel name="password" placeholder="Enter Password"/>
            <button class="btn btn-outline-primary" type="submit">Submit</button>
        </form>     
    </div>
</div>

<button (click)="sendDataToParent()">send data to parent com</button>